@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>Queen's University</h3>

<address>
    99 University Ave <br />
    Kingston, Ontario <br />
    <abbr title="Phone">P:</abbr>
    613.533.2000
</address>

<address>
    <strong>Mackenzie Martyn</strong>   <a href="mailto:13mrm@queensu.ca">13mrm@queensu.ca</a><br />
    <strong>Kal Radikov</strong>   <a href="mailto:k.radikov@queensu.ca">k.radikov@queensu.ca</a><br />
    <strong>Attila Kadar</strong> <a href="mailto:atilla.kadar@queensu.ca">atilla.kadar@queensu.ca</a>
</address>